body{
    position: relative;
    margin: 0;
}
.container1{
    background-color: red;
    height:100px;
    width: 100px;
    position:absolute;
    left:200px;
    top:200px;

   
 
}
.container2{
    background-color:blue;
    height:100px;
    width: 100px;
    position: absolute;
    top:100px;
    left:100px;
   
}
.container3{
    background-color:yellow;
    height:100px;
    width: 100px;
    position: absolute;
    
}